[Desktop Entry]
Type=Application
Name=Serpentine
Comment=NURBS surface modeller
Exec=serp %F
Icon=serpentine
Terminal=false
Categories=Graphics;3DGraphics;Engineering;
MimeType=application/x-serpentine;
Keywords=CAD;NURBS;3D;modelling;
